<div class="mx-auto w-full">
  <div class="justify-center">
    <h1 class="text-4xl font-semibold my-5">Home page</h1>
  <ul>
    <li class="my-3"><%= link_to 'Posts page', posts_path %></li>
    <li class="my-3"><%= link_to 'Word listing page', words_path %></li>
    <li class="my-3"> <%= link_to 'About', about_path %></li>
  </ul>

    <div class="my-10">
    <% if current_user %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% end %>
    </div>
  </div>
</div>