<div class="pt-10 mx-auto w-full md:w-2/3 px-4 py-8">
  <div class="justify-center">
  <h1 class="text-4xl font-semibold my-5">About</h1>
  <div class="flex flex-col">
  <p>このサイトは上野智範が運営しております。</p>
  <p>まだ作り途中ですが、何かポートフォリオでもと思い、公開することにしました。</p>
  <p>お問い合わせフォームはこれから開発いたします。</p>
  <br>
  <ul>
    </li><%= link_to 'Words listing page', words_path %><li>
    <li><%= link_to 'Home page', root_path %></li>
  </ul>
</div>