<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-4">お問い合わせ完了</h1>
  
  <dl class="mb-5">
    <p>
      お問い合わせありがとうございます！
    <br>
      メールにてお返事いたしますので、お待ちください。
    </p>
  </dl>
</div>
