<p>新しいお問い合わせを受け付けました：</p>

<ul>
  <li><strong>お名前:</strong> <%= @contact.name %></li>
  <li><strong>メールアドレス:</strong> <%= @contact.email %></li>
  <li><strong>電話番号:</strong> <%= @contact.telephone %></li>
  <li><strong>内容:</strong> <%= @contact.body %></li>
</ul>
