<%= form_with(model: @word, local: true, data: { turbo: false }) do |f| %>
  <% if @word.errors.any? %>
  <h2>The following errors prevented the word from being saved</h2>
    <ul>
      <% @word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  
<% end %>