<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-4xl font-semibold">Create new word</h1>

  <div>
    <%= render 'form' %>
  </div>

  <%= link_to 'Return to words listing', words_path %>
</div>